.new-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.new-header nav {
  background-color: transparent;
  padding: 0;
}

.new-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-header nav ul li {
}

.new-header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.new-header nav ul li a:hover {
  background-color: #555;
}
