* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(168, 163, 181);
}

/* Header styles */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Navigation styles */
nav {
  background-color: rgb(246, 64, 9);
  border-bottom: 1px solid #ddd;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

li a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

li a:before {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all ease-in-out 0.3s;
}

li a:hover:before {
  width: 100%;
}

/* Main section styles */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.section {
  position: relative;
  z-index: 1; /* set a lower z-index value than the header */
}
.job-container {
  display: flex;
  overflow-x: hidden;
}

.job {
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  max-width: 500px;
}

.job h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job p {
  font-size: 16px;
  margin-bottom: 10px;
}

.job button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.job button:hover {
  background-color: #0069d9;
}

.scroll-right-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 5vh;
  height: 5vh;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.scroll-left-button {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 5vh;
  height: 5vh;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.scroll-button:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.section {
  position: relative;
  z-index: 1; /* set a lower z-index value than the header */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.section.active {
  opacity: 1;
}
.second-section {
  background-image: url(../img/office.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}

.third-section {
  background-image: url(../img/stair.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}
.fourth-section {
  background-image: url(../img/test1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}
.fifth-section {
  background-image: url(../img/test2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}
.sixth-section {
  background-image: url(../img/test3.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}
